* {
    margin: 0px;
    padding: 0px;
}

header,
main {
    margin: 53px 127px 135px 100px;
    height: 600px;
    width: 1000px;
}

nav,
main {
    display: flex;
    justify-content: space-between;
}

.nav_div {
    display: flex;
    gap: 15px;
}

nav img {
    height: 50px;
    /* margin-top: 30px;
    margin-right: 15px; */
}

.nav_title {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    margin-top: 0px;
}

.text_primary,
.section_title {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    margin-right:
        30px;
}

.home {
    color: #FF5400;
}

.header_section {
    width: 1000px;
    height: 500px;
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    text-align: center;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 100px 180px;
    margin: 50px;
}

.header_section p {
    margin-top: 20px;
}

.section_title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
}

.header_form p {
    text-wrap: wrap;
}

.header_form {
    padding: 20px;
    gap: 24px;
    height: 60px;
    border-radius: 8px;
    display: inline-flex;
    align-items: flex-start;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 50px;
}

.boxs {
    border-radius: 8px;
    height: 50px;
    width: 150px;
    border: none;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.btn_primary {
    border-radius: 8px;
    background: #FF5400;
    font-size: 16px;
    font-weight: 400;
    border: none;
    text-align: center;
    font-family: Mulish;
    border-radius: 8px;
    height: 50px;
    width: 150px;
}

/* .boxs{
    margin-top: 200px;
    width: 174px;
height: 52px;
padding: 16px  15px;

}
#where{
    height: 15px;
} */
/* main section styles */
.main_section {
    width: 540px;
    height: 550px;
    justify-content: space-between;

}

main {
    margin: 0 auto;
    gap: 100px;
    color: #131318;
    font-size: 16px;
    font-weight: 400;
}

main p {
    margin-top: 20px;
    margin-bottom: 10px;
}