* {
    margin: 0px;
    padding: 0px;
}

.choice_body,
.newsletter {
    margin: 53px 127px 135px 100px;
}

header,
main {
    margin: 53px 127px 135px 100px;
    height: 600px;
    width: 1000px;
}

nav,
main {
    display: flex;
    justify-content: space-between;
}

.nav_div {
    display: flex;
    gap: 15px;
}

nav img {
    height: 50px;
    /* margin-top: 30px;
    margin-right: 15px; */
}

.text_para {
    color: #131318;
    font-family: Mulish;
    font-weight: 500;
}

.nav_title {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    margin-top: 0px;
}

.text_primary,
.section_title {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    margin-right:
        30px;
}

.home {
    color: #FF5400;
}

.header_section {
    width: 1000px;
    height: 500px;
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    text-align: center;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 100px 180px;
    margin: 50px;
}

.header_section p {
    margin-top: 20px;
}

.section_title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
}

.header_form p {
    text-wrap: wrap;
}

.header_form {
    padding: 20px;
    gap: 24px;
    height: 60px;
    border-radius: 8px;
    display: inline-flex;
    align-items: flex-start;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 50px;
}

.boxs {
    border-radius: 8px;
    height: 50px;
    width: 150px;
    border: none;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.btn_primary {
    border-radius: 8px;
    background: #FF5400;
    font-size: 16px;
    font-weight: 400;
    border: none;
    text-align: center;
    font-family: Mulish;
    border-radius: 8px;
    height: 50px;
    width: 150px;
}

/* .boxs{
    margin-top: 200px;
    width: 174px;
height: 52px;
padding: 16px  15px;

}
#where{
    height: 15px;
} */
/* main section styles */
.main_section {
    width: 540px;
    height: 550px;
    justify-content: space-between;

}

main {
    margin: 0 auto;
    gap: 100px;
    color: #131318;
    font-size: 16px;
    font-weight: 400;
}

main p {
    margin-top: 20px;
    margin-bottom: 10px;
}


.destination {
    height: 1100px;
    width: 100%;
    margin: 0 auto;


}

.row_heading,
.choice_row_head {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: 10px;
    gap: 10px;
}

.row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.chosen {
    margin: 0 auto;
}

.choice_row {
    display: flex;
    flex-direction: column;
    width: 573px;
    height: 284px;
    /* margin-bottom: 24px; */
    gap: 20px;
}

.choice_row img {
    width: 50px;
    height: 50px;
}

.choice_body {
    display: flex;
    flex-direction: row;
    gap: 24px;

}

#choice_row_left {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);

}

#choice_row_right {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choice_row_foot {

    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 573px;
    height: 284px;
}

.choice_row_foot img {
    width: 50px;
    height: 50px;

}

.details {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 20px;
}

.newsletter_description {
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 474px;
    height: 422px;
    padding: 20px;

}

.newsletter_description form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newsletter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.news {

    height: 52px;
    width: 475px;
}

.foot_div {
    text-align: center;
    justify-content: center;
    display: flex;
}

footer img{
    height: 50px;
    width: 50px;
}
.footer_img ,.foot_para{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 gap: 20px;
 margin-top: 20px;
}
footer{
    height:400px;
    
}
