@media screen and (max-width:576px) {

    .choice_body,
    .newsletter,
    main,
    header {
        margin: 20px;
    }

    nav,
    main,
    .header_section,
    .newsletter {
        flex-direction: column;
    }

    .header_form {
        flex-direction: column;

    }

    nav ul {
        display: none;
    }

    .nav_title,
    .section_title {
        font-size: 20px;
        width: 100%;
    }

    nav img {
        height: 40px;
        margin-top: -10px;
    }

    .newsletter_img {
        margin-top: 20px;
        width: 50%;
    }

    .row,
    .choice_body {
        flex-direction: column;
    }

    .choto {
        width: 100%;
        height: 100%;
    }


    .foot_div {

        flex-direction: row;
        align-items: center;

    }
}